<br/><br/><br/>
<table>
	<tr style="line-height:20px">
	    <td><b>Dossier n° : </b></td>
	    <td colspan="3">{{ candidature.id}}</td>
    </tr>
	<tr style="line-height:20px">
	    <td><b>Prénom : </b></td>
	    <td>{{ candidature.prenom}}</td>
	    <td><b>Nom :</b></td>
	    <td>{{ candidature.nom }}</td>
    </tr>
    <tr style="line-height:20px">
	    <td><b>CIN : </b></td>
	    <td>{{ candidature.cin}}</td>
	    <td><b>Date de naissance : </b></td>
	    <td>{{ candidature.dateNaissance|date("d/m/Y")}}</td>
    </tr>  
    <tr style="line-height:20px">
    	<td><b>Filière : </b></td>
	    <td colspan="3">{{ candidature.filiere }}</td>	    
    </tr>
</table>
<br/><br/>
<p style="text-align:center"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<br/><br/><br/><br/>
<table>
	<tr style="line-height:20px">
	    <td><b>Dossier n° : </b></td>
	    <td colspan="3">{{ candidature.id}}</td>
    </tr>
	<tr style="line-height:20px">
	    <td><b>Prénom : </b></td>
	    <td>{{ candidature.prenom}}</td>
	    <td><b>Nom :</b></td>
	    <td>{{ candidature.nom }}</td>
    </tr>
    <tr style="line-height:20px">
	    <td><b>CIN : </b></td>
	    <td>{{ candidature.cin}}</td>
	    <td><b>Date de naissance : </b></td>
	    <td>{{ candidature.dateNaissance|date("d/m/Y")}}</td>
    </tr>  
    <tr style="line-height:20px">
    	<td><b>Filière : </b></td>
	    <td colspan="3">{{ candidature.filiere }}</td>	    
    </tr>
</table>		
